/*support*/
#support_block
{
    text-align: center;
}
#support_
{
    text-align: center;
    font-size: 15px;
}
#progress
{
    width: 60%;
    height: 50px;
}
/*today_store*/
#store_today
{
    width: 50%;
    height: 200px;
    margin: auto;
    text-align: center;
}
#store_today_list_img
{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}
#store_today_list
{
    text-align: left;
    font-size: 13px;
}
/*support_news*/
#news_support
{
    width: 70%;
    height: 100px;
    margin: auto;
    text-align: center;
}
#support_news_list_img
{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}
#support_news_list
{
    text-align: center;
    font-size: 13px;
}
/*rank*/
#rank_
{
    width: 50%;
    height: 200px;
    margin: auto;
    text-align: center;
}
#rank_img
{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
}
#rank_list
{
    text-align: left;
    font-size: 13px;
}
#partner{
    text-align: right;
    padding-right: 3%;
    display: inline-block;
    vertical-align: top;
}
#ad
{
    text-align: right;
    align-items: right;
    padding-right: 3%;
    vertical-align: middle;
}