h2 {
    text-align: center;
    color: darkgreen;
}
#search {
    text-align: center;
}
#select {
    display: inline-block;
}
#city {
    height: 32px;
}
#word {
    height: 30px;
}
#city, #word {
    border: 1px solid #949494;
    border-radius: 3px;
}
option {
    font-size: 6px;
}
div input {
    margin-left: 20px;
    display: inline-block;
    width: 240px;
}
#button {
    margin-left: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}
tr:nth-child(odd) {
    border: 3px solid rgb(196, 196, 196);
}
tr:nth-child(odd):hover {
    border : 3px solid rgb(65, 126, 30);
    box-shadow: 0 0 20px rgb(191, 240, 95);
}
#ic_shop {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-left: 30px;
    vertical-align: middle;
}
div > h2 {
    display: inline;
    margin-left: 14px;
    margin-right: 100px;
    text-align: left;
    vertical-align: bottom;
    color: black;
}
td.td1 p {
    text-align: left;
    margin-left: 30px;
    margin-right: 100px;
}
td.td1 strong {
    display: inline-block;
    font-size: 18px;
    color: darkgreen;
    margin-top: 6px;
}
td.td2 div {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
td.td2 button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
    border-color: rgb(214, 214, 214);
}
td.td3 img {
    margin-left: 20px;
    width: 260px;
    height: 180px;
    display: block;
}
#empty {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
#empty:focus, button:focus {
    outline: none;
}
div.pagination {
    text-align: center;
}
div.pagination a {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
}
div.pagination a:hover {
    background-color: rgb(191, 240, 95);
    color: white;
}