.wrap{
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 32px;
    height: 32px;
    background-color: white;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 32px;
    height: 32px;
    background-image: url('/media/star_rating.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}
.rating .rate_radio:checked + label {
    background-color: gold;
}