body{
    margin-top: 20px;
    background-color: rgb(194, 194, 194);
    text-align : center;
}

#cancel_btn {
    align-items: center;
    background-color: rgb(116, 116, 116);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 17px;
}

#go_login_btn {
    align-items: center;
    background-color:darkgreen;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 17px;
}