h1 {
    padding-left: 3%;
}

h2 {
    padding-left: 3%;
}

#upImgFile {
    margin-left: 80px;
    font-size: 16px;
}

#green_btn {
    background-color: rgb(122, 204, 46);
}

#orange_btn {
    background-color: rgb(255, 145, 0);
}

#green_btn, #orange_btn {
    color: white;
    margin-left: 100px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    outline: 0;
}

#green_text {
    color :  rgb(122, 204, 46);
}

#orange_text{
    color : rgb(255, 145, 0) ;
}

#clock{
    color : grey ;
}

#identification {
    text-align: center;
}

#label {
    font-size: 16px;
    font-weight: bold;
}

#textfield1 {
    width: 100px;
    height: 24px;
}

#textfield2 {
    width: 180px;
    height: 24px;
}

#textfield3 {
    width: 80px;
    height: 24px;
}

#modify_btn {
    align-items: center;
    background-color: rgb(122, 204, 46);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}