h1 {
    margin-left: 3%;
    color: darkslategrey;
}

#box {
    background-color: rgb(231, 255, 224);
    left : 200px;
    border-radius: 5px;
    padding:80px;
}

#sign_up_form {
    text-align: center;
}

#upImgFile {
    margin-left: 7%;
}

form {
    margin-top: 10px;
}

#auth {
    background-color: orange;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

#card {
    visibility: hidden;
    display: none;
}

#info {
    text-align: left;
    font-weight: normal;
    margin: auto;
    width: 50%;
}

#label, #card {
    font-size: 16px;
    font-weight: bold;
}

#textfield1 {
    width: 100px;
    height: 24px;
}

#textfield2 {
    width: 180px;
    height: 24px;
}

#textfield3 {
    width: 80px;
    height: 24px;
}

#green_btn {
    align-items: center;
    background-color: rgb(122, 204, 46);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
    outline: 0;
    margin-top: 10px;
}